apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: application-from-scratch
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      releaseName: application-form-helm
      parameters: 
      valueFiles:
        - customValues.yaml
    path: nginx
    repoURL: https://github.com/emiakia/argocd.git
    targetRevision: main
    
